.App {
    box-sizing: border-box;
}

.App .SinkHeader {
    background-color: #eee;
}

.App .SliderRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
}

.App .SliderRow .SliderBox {
    text-align: center;
}

.App .SliderRow .SliderBox .VolumeSlider {
    height: 300px;
}
