.App {
    box-sizing: border-box;
}

.DrawerHeader {
    font-size: 1.5em;
    color: #fff;
    background-color: #68f;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.DrawerIcon {
    color: #fff;
}

.App .SinkHeader {

    /*background-color: #eee;*/
}

.App .SliderRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.App .SliderRow .SliderGroup {
}

.App .SliderRow .SliderGroup .JoinChannelsLabel {
    text-align: center;
    height: 3.5em;
}

.App .SliderRow .SliderGroup .SliderGroupInner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.App .SliderRow .SliderGroup .SliderGroupInner .SliderBox {
    text-align: center;
}

.App .SliderRow .SliderGroup .SliderGroupInner .SliderBox .VolumeSlider {
    height: 300px;
}
